@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  flex: 1 1 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.3em;

  background-color: #1f2937;
  color: #e5e7eb;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
}

.header h1 {
  font-size: 32px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 1.6em;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navigation ul li {
  margin: 0;
  padding: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #e5e7eb;
}

.navigation ul li a:hover {
  color: #ffffff;
}

/*hero*/

.hero {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 1.3em;
  padding-left: 10em;
  padding-right: 10em;
  justify-content: space-between;
  padding-bottom: 8em;
  padding-top: 5em;
}

.hero h2 {
  font-size: 48px;
  font-weight: extra-bold;
}

.hero p {
  width: 80%;
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
}

.hero .left-side {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.hero .left-side button {
  width: 100px;
  padding: 0.5em 0.8em;
  flex-shrink: 0;
  cursor: pointer;
  background-color: #e5e7eb;
}

.hero .left-side button:hover {
  background-color: #ffffff;
}

.hero img {
  width: 500px;
}

/*information*/

.information {
  padding: 1.3em;
  padding-left: 10em;
  padding-right: 10em;
  font-family: "Roboto", sans-serif;
}

.information-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  margin-top: 1.3em;
}

.information-container {
  display: flex;
  margin-top: 5em;
  justify-content: space-between;
  gap: 1.3em;
  flex-wrap: wrap;
  text-align: center;
  flex-shrink: 0;
  font-size: 18px;
  margin-bottom: 5em;
}

.information-container .item {
  width: 20%;
}

.information-container .item img {
  margin-bottom: 2em;
}

/*quote*/

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3em;
  padding-left: 10em;
  padding-right: 10em;
  height: 15em;
  background-color: #e5e7eb;
  color: #1f2937;
  flex-direction: column;
  gap: 1.8 em;
}

#main-quote {
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

#bliss-pillows {
  margin-left: 89%;
  font-size: 24px;
  font-style: bold;
  font-weight: 500;
  width: 150px;
  flex-shrink: 0;
}
/*call-to-action*/

.call-to-action {
  display: flex;
  justify-content: center;
  padding: 1.3em;
  padding-left: 10em;
  padding-right: 10em;
}

.call-to-action-container {
  background-color: #3882f6;
  padding: 2em 5em;
  border-radius: 9px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.call-to-action-container .right-side button {
  width: 100px;
  padding: 0.4em 1.6em;
  cursor: pointer;
  background-color: #3882f6;
  border: #e5e7eb solid 1px;
  color: #e5e7eb;
  flex-shrink: 0;
}

.call-to-action-container .right-side button:hover {
  background-color: #e5e7eb;
  color: black;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  padding: 1.5em;
  background-color: #1f2937;
  color: #e5e7eb;
}
